<div class="py-10" id="about">
  <!-- Section Présentation -->
  <section
    class="container mx-auto mb-10 px-4 py-16 flex flex-col md:flex-row items-center bg-white rounded-lg shadow-md transition-all duration-300 hover:shadow-xl">
    <div class="md:w-1/2 mb-8 md:mr-8">
      <img src="../../assets/about.jpg" alt="Éducateur canin Fox & Roucky"
        class="rounded-lg shadow-lg object-cover w-full h-auto transition-transform duration-300 hover:scale-105">
    </div>
    <div class="md:w-1/2 ">
      <h2 class="text-4xl font-bold mb-4 text-gray-800">Qui suis-je ?</h2>
      <p class="text-gray-600 mb-4 leading-relaxed">
        Passionné par les chiens depuis toujours, j'ai décidé de faire de ma passion mon métier.
        Éducateur et comportementaliste canin diplômé, je me spécialise dans la compréhension
        et la résolution des problèmes comportementaux.
      </p>
      <ul class="space-y-4">
        <li class="flex items-center">
          <svg class="w-6 h-6 mr-2 text-orange-500" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 
                  3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 
                  0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 
                  4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 
                  3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 
                  3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 
                  3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 
                  3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
          </svg>
          <span>Formations certifiantes en comportement canin</span>
        </li>
      </ul>
    </div>
  </section>

  <!-- Section Informations Complémentaires -->
  <section class="bg-gray-100 text-gray-800 px-4 py-16 transition-all duration-300 hover:bg-gray-200">
    <div class="container mx-auto max-w-2xl text-center space-y-6">
      <p class="text-xl leading-relaxed">
        Vous vous retrouvez face à un problème de comportement avec votre chien, vous souhaitez faire
        découvrir la vie à votre chiot pour vous assurer un comportement équilibré par la suite ou bien
        encore simplement recevoir certains conseils avant l’adoption de votre futur compagnon ?
      </p>
      <div>
        <a href="tel:+33612345678"
          class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-3 px-6 rounded-full shadow-lg transition-transform duration-300 hover:scale-105"
          aria-label="Contactez-moi">
          Contactez-moi
        </a>
      </div>
      <p class="text-xl leading-relaxed">

      La plus belle récompense est de voir l’évolution entre le maître et le chien au fure et à mesure des
séances. Voir cette confiance réciproque s’installer entre eux. Un chien épanouit qui assurera des
moments de partage au sein de votre foyer.
      </p>
    </div>
  </section>

  <!-- Section Services -->
  <section class="bg-gray-900 text-white px-4 py-16">
    <div class="container mx-auto max-w-2xl text-center space-y-8">
      <p class="text-xl leading-relaxed">
        Vous rencontrez des difficultés avec votre chien telles que :
      </p>
      <ul class="list-disc list-inside space-y-2 text-center">
        <li>Tir en laisse</li>
        <li>Vol</li>
        <li>Destruction</li>
        <li>Malpropreté</li>
        <li>Agressivité</li>
        <li>Fugue</li>
        <li>Aboiement excessif</li>
        <li>Anxiété / Crainte</li>
      </ul>
      <p class="text-xl leading-relaxed">Une <strong>éducation positive</strong> pour vous rapprocher de votre chien est le meilleur moyen pour créer les
        bases d’une complicité entre vous et lui. Apprenez lui à comprendre ce que vous voulez de lui pour
        lui donner plus de confiance en lui et que votre confort en toute situation augmente avec le temps.
        L’éducation se fait dès le plus jeune âge, il n’est jamais trop tôt pour commencer. our vous rapprocher de votre chien est le meilleur moyen pour créer les
        bases d’une complicité entre vous et lui.
      </p>

      
    </div>
  </section>
  <section class="bg-gray-100 text-gray-800 px-4 py-16 transition-all duration-300 hover:bg-gray-200">
    <section class="py-10 flex flex-col justify-between gap-8">
      <!-- Texte -->
      <div class="flex-1 text-center">
        <p class="text-xl leading-relaxed">
          Situé entre <strong>Deauville</strong> et <strong>Honfleur</strong>, je vous propose différentes solutions :
        </p>
        <ul class="list-disc list-inside space-y-2 text-left mx-auto max-w-xl">
          <li><strong>À votre domicile :</strong> séances adaptées à votre environnement.</li>
          <li><strong>Sur place :</strong> à Cricqueboeuf, un espace calme et sécurisé.</li>
          <li><strong>Cours collectifs :</strong> permet de renforcer la concentration et l'écoute.</li>
          <li><strong>Promenades en groupe :</strong> pour un équilibre naturel et une meilleure socialisation.</li>
        </ul>
      </div>
  
      <!-- Carte -->
      <div class="flex-1 w-full max-w-3xl mx-auto h-96 md:h-64 overflow-hidden rounded-lg shadow-md">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41558.882866723055!2d0.12250310882178411!3d49.38185407946037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e02dfe04143773%3A0xd6bc4e6300dccf52!2sFox%26Roucky!5e0!3m2!1sfr!2sfr!4v1739444970752!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>
  </section>
  
  
  
  
  
  
</div>