<div class="py-10" id="services">

  <section  class="container mx-auto px-4 py-16">
    <h2 class="text-3xl font-bold text-center mb-12 text-gray-800">Mes Services</h2>
    
    <div class="grid md:grid-cols-2 gap-8">
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="../../assets/service_comportement.gif" alt="Etude comportement" class="w-full h-48 object-cover md:h-72 lg:h-80 rounded-t-lg mb-4">
        
        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Étude de Comportement</h3>
        <p class="text-gray-700">
          Une étude de comportement sera réalisée en
collaboration pour identifier vos
problématiques, vos besoins et ainsi adapter
les cours à vos attentes. Cette démarche
permet de mieux comprendre votre chien et
de personnaliser les séances afin de
répondre précisément à vos objectifs.
Chaque individu étant unique, il est essentiel
de cibler dès le départ vos besoins pour offrir
un accompagnement sur-mesure, en parfaite
adéquation avec vos attentes.
        </p>
      </div>
      
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="assets/service.gif" alt="Balade en Groupe" class="w-full h-48 object-cover md:h-72 lg:h-80 rounded-t-lg mb-4">
        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Séance Individuelle</h3>
        <p class="text-gray-700">
          Les séances individuelles visent à travailler l'éducation
ou la rééducation du chien en utilisant des techniques
adaptées à chaque animal, avec un focus sur le
renforcement positif. L’objectif est d’assurer le bonheur
et l’équilibre du chien, en tenant compte de son rythme
d'apprentissage. Après ces séances, des cours collectifs
peuvent être proposés pour poursuivre le travail dans
un environnement plus stimulant.
        </p>
      </div>
      
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="assets/service3.gif" alt="Cours collectifs" class="w-full h-48 object-cover md:h-72 lg:h-80 rounded-t-lg mb-4">
        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Cours Collectif</h3>
        <p class="text-gray-700">
          Les cours collectifs suivent logiquement les cours individuels et offrent l’opportunité de travailler
votre chien en présence d’autres congénères. Cette interaction favorisera son obéissance, même
dans un environnement riche en stimuli et diverses activités. L’objectif est de renforcer son
attention envers vous, vous permettant de gérer votre chien dans toutes les situations. Ces cours
sont limités à quatre maîtres et leurs chiens afin de maintenir un environnement contrôlé et de
faciliter la familiarisation avec d’autres animaux. Nous y réviserons les ordres de base tout en allant
plus loin pour garantir que votre chien vous accompagne en toute confiance, quel que soit le
contexte.
        </p>
      </div>
      
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="assets/service2.gif" alt="Balade en Groupe" class="w-full h-48 object-cover md:h-72 lg:h-80 rounded-t-lg mb-4">
        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Balade en Groupe</h3>
        <p class="text-gray-700">
          Les balades en groupe sont conçues pour offrir à votre
chien une activité physique et mentale essentielle à son
bien-être. Au programme : des promenades d'une à
plusieurs heures, en nature ou en ville. Votre chien pourra
explorer, sentir de nouvelles odeurs, courir et jouer avec
ses compagnons, favorisant ainsi son épanouissement.
Ces moments seront aussi l’occasion de partager des
instants de complicité et de jeu. Différentes activités
seront proposées pour allier détente et travail, permettant
de renforcer le lien et d'améliorer la relation entre vous et
votre chien.
        </p>
      </div>
    </div>
  </section>
</div>