<section id="services" class="container mx-auto px-4 py-16">
    <h2 class="text-3xl font-bold text-center mb-12 text-gray-800">Mes Services</h2>
    
    <div class="grid md:grid-cols-2 gap-8">
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="assets/service4.jpg" alt="Balade en Groupe" class="w-full h-48 object-cover rounded-t-lg mb-4">

        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Étude de Comportement</h3>
        <p class="text-gray-700">
          Une étude de comportement sera réalisée ensemble afin d'identifier vos problématiques et besoins. 
          L'objectif est de s'adapter au mieux à vos attentes et personnaliser les cours qui vous seront proposés.
        </p>
      </div>
      
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="assets/service.jpg" alt="Balade en Groupe" class="w-full h-48 object-cover rounded-t-lg mb-4">
        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Séance Individuelle</h3>
        <p class="text-gray-700">
          Les séances individuelles vous permettront de travailler dans un environnement adapté à l'apprentissage 
          des ordres de base. Chaque chien apprend différemment.
        </p>
      </div>
      
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="assets/service3.jpg" alt="Balade en Groupe" class="w-full h-48 object-cover rounded-t-lg mb-4">
        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Cours Collectif</h3>
        <p class="text-gray-700">
          Suite logique des cours individuels, les cours collectifs (maximum 4 participants) permettront de 
          travailler votre chien en présence d'autres congénères.
        </p>
      </div>
      
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="assets/service2.jpg" alt="Balade en Groupe" class="w-full h-48 object-cover rounded-t-lg mb-4">
        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Balade en Groupe</h3>
        <p class="text-gray-700">
          Des balades d'une à plusieurs heures en nature ou en ville pour stimuler et dépenser votre chien. 
          Découverte de nouveaux environnements et socialisation.
        </p>
      </div>
    </div>
  </section>