<div class="py-10" id="services">

  <section  class="container mx-auto px-4 py-16">
    <h2 class="text-3xl font-bold text-center mb-12 text-gray-800">Mes Services</h2>
    
    <div class="grid md:grid-cols-2 gap-8">
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="assets/service4.jpg" alt="Balade en Groupe" class="w-full h-48 object-cover md:h-72 lg:h-80 rounded-t-lg mb-4">
        
        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Étude de Comportement</h3>
        <p class="text-gray-700">
          Une étude de comportement sera réalisée ensemble afin d’identifier vos problématiques, vos
          besoins et ainsi s’adapter au mieux à vos attentes et personnaliser les cours qui vous seront
          proposés. Cela permet une adaptation optimale des cours pour le chien en le comprenant le plus
          possible, et aidera à comprendre ce que vous recherchez précisément en recourant à mes services.          
          Chaque personne est différente et il est important de cibler dès le début ce dont vous avez besoins
          pour répondre au mieux à vos souhaits. 
        </p>
      </div>
      
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="assets/service.jpg" alt="Balade en Groupe" class="w-full h-48 object-cover md:h-72 lg:h-80 rounded-t-lg mb-4">
        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Séance Individuelle</h3>
        <p class="text-gray-700">
          Les séances individuelles permettront de vous faire travailler dans un environnement adéquat pour l’éducation ou la rééducation en découvrant les
          différentes techniques qui s’adaptent à chaque chien.
          Comme l’Homme, chaque individu est différent et il est
          important de cibler quelle méthode est la plus favorable
          pour votre animal en travaillant sur le renforcement
          positif pour le bonheur du chien et son équilibre.
          Chaque chien apprend plus ou moins vite et le nombre
          de séances peut varier en fonction du chien. Cette
          approche permet d’avoir un chien obéissant avant de
          découler sur des cours collectifs pour continuer de
          travailler son chien mais cette fois-ci dans un
          environnement qui possède des stimulis. 
        </p>
      </div>
      
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="assets/service3.jpg" alt="Balade en Groupe" class="w-full h-48 object-cover md:h-72 lg:h-80 rounded-t-lg mb-4">
        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Cours Collectif</h3>
        <p class="text-gray-700">
          Les cours collectifs seront la suite la suite logique des cours individuels. Ils permettront de travailler
          votre chien avec d’autres congénères. Ainsi la proximité avec d’autres chiens augmentera son
          obéissance dans un milieu avec différentes activités à côté. De cette manière, le focus sur on maître
          sera de plus en plus fort et vous permettra de gérer votre chien en toute situation, peu importe ce
          que vous pouvez rencontrer. Ceux-ci sont proposés avec un maximum de quatre maîtres et leur
          chien pour conserver un environnerment controlable et ainsi se familliariser avec d’autres chiens.
          Nous y reverrons les ordres de base mais irons également plus loin pour assurer que votre
          compagnon vous accompagne en toute confiance en toutes circonstances.
        </p>
      </div>
      
      <div class="bg-white shadow-lg rounded-lg p-6">
        <img src="assets/service2.jpg" alt="Balade en Groupe" class="w-full h-48 object-cover md:h-72 lg:h-80 rounded-t-lg mb-4">
        <h3 class="text-2xl font-semibold mb-4 text-orange-600">Balade en Groupe</h3>
        <p class="text-gray-700">
          Les balades en groupe seront là pour maintenir une
          activité pour votre chien et ledépenser et le stimuler pour
          son bien être personnel. Au programme, des balades
          d’une à quelques heures en nature ou en ville. Laissez
          votre chien se balader avec d’autres pendant une balade
          pour le laisser sentir, découvrir de nouvelles odeurs, se
          dépenser à courir et jouer avec ses compagnons de
          balade pour avoir un chien bien dans sa tête et épanouit
          tout en partageant des moments de complicité et de jeux
          avec lui en même temps. Différentes activités seront
          proposées, pour que, même sur une ambiance de détente
          nous puissions travailler et renforcer votre binome.
        </p>
      </div>
    </div>
  </section>
</div>